.navbar {
 	background-color: #ba2126;
 	font-family: 'Open Sans', sans-serif;
 	margin-bottom: 50px;
 }

.navbar-default .navbar-brand {
	color: #000000;
}

#myCollapsingList a{
	color: black;
}

p {
	font-family: 'Open Sans', sans-serif;
}

.row {
	margin-bottom: 50px;
}

#mainBox {
	background-color: black;
	color: white;
	margin-top: 100px;
	text-align: center;
}

body{
	background-color: black;
}

#footer {
	background-color: #ba2126;
	padding: 15px;
	text-align: center;
	color: black;
}

#footerText {
	margin-top: 30px;
	margin-bottom: 30px;
}

#cancerImg {
	height: 98px;
	width: 170px;
}