body {
	font-family: 'Open Sans', sans-serif;
}

.navbar {
 	background-color: #ba2126;
  	margin-bottom: 50px;
 }

.navbar-default .navbar-brand {
	color: #000000;
}

#myCollapsingList a{
	color: black;
}

label {
	width: 150px;
}

.row {
	margin-bottom: 50px;
}

#mainBox {
	background-color: black;
	color: white;
	margin-top: 100px;
	text-align: center;
}

body{
	background-color: black;
}

#footer {
	background-color: #ba2126;
	padding: 15px;
	text-align: center;
	color: black;
	height: 20%;
}

#footerText {
	margin-top: 30px;
	margin-bottom: 30px;
}

.audioContainer{
	margin: 10px;
}

#formContainer {
	width: 75%;
	margin: auto;
}

fieldset {
	width: auto;
	border-radius: 15px;
	background-color: #ba2126;
	margin: 50px;
}

legend {
	background-color: #f2a707;
	border: 1px solid;
	border-radius: 15px;
	border-color: white;
	padding:10px;
}

.submit {
	background-color: #f2a707;
	color: black;
	border-radius: 15px;
	margin-top: 15px;
	margin-bottom: 15px;
	padding: 5px;
}

fieldset label {
	padding: 10px;
}


#note {
	font-size: 10px;
	margin-bottom: 15px;
}