<showNavbar></showNavbar>
<div id="mainBox" class="container">
		<div class="row">
			<div class="col-sm-6">
				<img src="images/3ladiesstanding.jpg">
			</div>
			<div class="col-sm-6">
				<p>A very warm welcome from the 3 Lovely Ladies!</p><br>
	 			<p>We're 3 mums who liked to sing amongst ourselves just for fun. Well, mostly for the tea and cake involved! </p><br>
	 			<p>Then Heather saw an advert on the telly for Stand Up to Cancer - a fundraising event to challenge yourself to do something that terrifies you - and promptly thought of singing in public! As we're nice people, we couldn't possibly let her go it alone so the 3 Lovely Ladies were born!</p><br>
	 			<p>We hope you have as much fun browsing our site as we had creating our music! Have a listen to some of our tracks or grab a cuppa, stay awhile and watch some videos!</p><br>
	 			<p>And if you like what you see then why not book us for your function?! Take a look at our contact us page for details.</p>
			</div>
		</div>
	</div>

	<div id="footer">
      <div class="container">
      	<div class="row">
      		<div class="col-sm-4">
	      		<img src="images/su2c_logo.png">
	      	</div>
	      	<div id="footerText" class="col-sm-4">
	      	    <p>Why not Stand Up to Cancer yourself!</p>
		        <p>Visit the <a href="https://www.standuptocancer.org.uk/">Stand Up to Cancer</a> website and see what you can do!</p>
		    </div>
		    <div class="col-sm-4">
	        <img id="cancerImg" src="images/bye_cancer.png">
	       </div>
      </div>
    </div>