<show-navbar></show-navbar>

<div id="mainBox" class="container">

	<div class="row">
		<div id="listenText" class="col-sm-12">
			<p>Our first gig was a success! Well, we didn't pass out on stage, or forget our words...hmm, actually maybe once or twice! Take a listen to the tracks below and make up your own mind!</p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6">
			<img src="images/3ladiessitting.jpg">
		</div>
		<div class="col-sm-6">
			<div id="containerOne" class="audioContainer">
				<label>Daisy</label>
				<audio controls="controls">
					<source src="audio/daisy.mp3" type="audio/mpeg; codecs=mp3">
				</audio>
			</div>
			<div class="audioContainer">
				<label>Hotel Yorba</label>
				<audio controls="controls">
					<source src="audio/Hotel Yorba.mp3" type="audio/mpeg; codecs=mp3">
				</audio>
			</div>
			<div class="audioContainer">
				<label>Maid on the Shore</label>
				<audio controls="controls">
					<source src="audio/Maid on the Shore.mp3" type="audio/mpeg; codecs=mp3">
				</audio>
			</div>
			<div class="audioContainer">
				<label>Eriskay Love Lilt</label>
				<audio controls="controls">
					<source src="audio/Eriskay Love Lilt.mp3" type="audio/mpeg; codecs=mp3">
				</audio>
			</div>
			<div class="audioContainer">
				<label>Autumn Leaves</label>
				<audio controls="controls">
					<source src="audio/Autumn Leaves.mp3" type="audio/mpeg; codecs=mp3">
				</audio>
			</div>
		</div>
	</div>
</div>


<show-footer></show-footer>