<div id="mainBox" class="container">
	<div class="row">
		<div id="watchText" class="col-lg-12">
			<p>We were lucky enough to have a fim crew (well, Heather's hubby had a camera which sometimes pointed in the right direction! Take a look at some of our favourite memories of the evening and enjoy!</p>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-3">
			<img src="images/Abby.jpg" alt="Sorry you can't view this image!">
		</div>

		<div class="col-lg-6">
			<video id="sequence" controls>
  				<source src="video/Sequence.mp4" type="video/mp4">
  				Your browser does not support the video tag.
			</video>
		</div>

		<div class="col-lg-3">
			<img src="images/2ladies.jpg" alt="Sorry you can't view this image!">
		</div>

</div>
