<show-navbar></show-navbar>
<div id="mainBox" class="container">
	<div class="row">
		<div class="col-sm-12">
			<p>We were lucky enough to have a film crew! Well, no that's a lie. We had Heather's hubby with a camcorder! But it means we have the great atmosphere captured forever! Here are a couple of our favourite bits!</p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<div class="panel-group" id="accordian">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" href="#collapseOne" data-parent="#accordian">Videos</a>
						</h4>
					</div>
					<div id="collapseOne" class="panel-collapse collapse">
						<div class="panel-body">
							<p>some videos in here</p>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" href="#collapseTwo" data-parent="#accordian">Photos</a>
						</h4>
					</div>
					<div id="collapseTwo" class="panel-collapse collapse">
						<div class="panel-body">
							<p>some photos in here</p>
						</div>
					</div>
				</div>
			</div>
		</div>
</div>


<show-footer></show-footer>